@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	margin: 0;
	overflow: auto;
	background-color: unset;
	background-image: url(../img/em-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Archivo', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
a, p, h1, h2, h3, h4 {
	font-family: 'Archivo', sans-serif;
	color: #fff;
}
a {
	cursor: pointer !important;
}
a:hover {
	transition: .2s;
}
.header, .header .header-inner {
    height: 7px !important;
}
.header .header-inner-top {
    display: block !important;
}
.modal-open {
    overflow: unset !important;
}
.mobile .header,
.mobile .header .header-inner {
    height: 0 !important;
}
img {
	-ms-interpolation-mode: bicubic;
}
.header-absolute {
    position: fixed !important;
}
.content {
    background-color: unset;
    padding-top: 7px !important;
	padding-left: 35px;
	height: 100vh;
}
.lead {
	margin-bottom: 20px;
	font-size: 20px !important;
	line-height: 1.4;
}
button,
.button,
.accordion.style-2 > ul > li > a.button {
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ec005b;
    border: none;
}
button:hover,
.button:hover,
.accordion.style-2 > ul > li > a.button:hover {
    color: #fff;
    background-color: #880034;
    transition: .2s;
}
#logo {
	margin-left: 10px;
	margin-bottom: 20px;
	height: 67px;
	width: 200px;
}
#oneteam {
    position: fixed;
	top: 45px;
	right: 80px;
	height: 20px;
	width: 188px;
	z-index: 99;
}

#player-column {
    position: fixed;
    padding-left: 5px;
    padding-right: 35px;
}
#content-column {
    padding: 0;
	margin-bottom: 50px;
	float: right;
    right: 0;
}
#player {
	border: 1px solid #fff;
	border-radius: 7px;
}
.player-alternativo {
	float: right;
    padding: 10px 5px;
    font-size: 12px;
	font-style: italic;
}
.header .header-inner-top {
	max-height: 7px;
	background: rgb(236,0,91);
	background: -moz-linear-gradient(90deg, rgba(236,0,91,1) 0%, rgba(224,135,114,1) 70%, rgba(0,116,255,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(236,0,91,1) 0%, rgba(224,135,114,1) 70%, rgba(0,116,255,1) 100%);
	background: linear-gradient(90deg, rgba(236,0,91,1) 0%, rgba(224,135,114,1) 70%, rgba(0,116,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec005b",endColorstr="#0074ff",GradientType=1);
}
#bg-dark {
	background-color: rgba(0,0,0,.8);
	width: 100vw;
	height: 100vh;
	position: absolute;
}
#em-bg1 {
    float: right;
    height: 60px;
    width: 70px;
    margin-top: -2px;
    z-index: 10;
}
#em-bg2 {
	position: fixed;
	bottom: 50px;
    right: 60px;
    height: 229px;
    width: 274px;
    opacity: .5;
}
#em-bg3 {
	float: right;
	height: 334px;
	width: 12px;
	margin-right: -350px;
}

.tab-nav {
	position: absolute;
	right: 0;
	color: #fff;
}
.tabs.style-2 .tab-nav > li a {
    font-size: 18px !important;
	text-align: center;
}
.tabs.style-2 .tab-nav > li a,
.tabs.style-2.vertical .tab-nav > li a,
.tabs.style-2.vertical.right .tab-nav > li a {
	color: #fff;
	padding-right: 0;
	cursor: pointer !important;
}
.tabs.style-2 .tab-nav > li a span {
	display: none;
    position: fixed;
    right: 60px;
    font-size: 15px;
    text-transform: none;
    text-align: right;
    font-weight: 700;
    color: #fff;
	transition: .2s;
    -webkit-box-shadow: 0px 0px 15px 7px rgba(22,29,200,1);
    -moz-box-shadow: 0px 0px 15px 7px rgba(22,29,200,1);
    box-shadow: 0px 0px 15px 7px rgba(22,29,200,1);
    text-shadow: 0px 0px 10px rgba(22, 29, 200, 1);
    background-color: rgba(22, 29, 200, .8);
}
.tabs.style-2 .tab-nav > li.active a:hover span,
.tabs.style-2 .tab-nav > li.active a span {
	display: none;
	transition: .2s;
}
.tabs.style-2 .tab-nav > li a:hover span {
	display: inline-block;
	color: #ec005b;
	transition: .2s;
}

.tabs.style-2 .tab-nav > li.active a span {
	color: #161dc8;
}


.tabs.style-2.vertical .tab-panes {
	padding: 0 45px 0 0;
	width: 100%;
	font-weight: 500;
	margin-top: 80px !important;
	border: none !important;
	text-align: left;
}
.tabs.vertical .tab-nav {
    position: fixed;
    width: 45px;
    height: 100%;
    border-left: 1px solid #fff;
	padding-top: 130px;
    z-index: 99;
}
.tabs.style-2 {
	margin-top: 0;
}
.tabs .tab-nav > li {
	margin-right: 10px;
}
.tabs.style-2 .tab-nav > li a {
	color: #fff;
	font-size: 15px;
	border-right: 1px solid #eee;
}
.tabs.style-2.vertical .tab-nav > li a:hover {
	color: #ec005b;
    background-color: rgba(255,255,255,.75);
}
.tabs.style-2.vertical .tab-nav > li.active a,
.tabs.style-2.vertical .tab-nav > li.active a:hover {
	color: #161dc8;
    background-color: #fff;
}
.tabs.style-2 .tab-nav > li.active a,
.tabs.style-2 .tab-nav > li.active a:hover {
	color: #fff;
}
.tabs.style-2 .tab-nav > li a,
.tabs.style-2 .tab-nav > li.active a,
.tabs.style-2 .tab-nav > li a:hover,
.tabs.style-2 .tab-nav > li.active a:hover {
	border-width: 0 0 1px 0 !important;
}
.tabs.style-2 .tab-nav > li a:hover {
	color: #ec005b;
}
.tabs.style-2.vertical .tab-nav > li#cerrar.active {
	display: none;
}
.tabs.style-2.vertical .tab-nav > li#cerrar {
	display: block;
    border-radius: 100%;
}
.tabs.style-2 .tab-nav > li#cerrar {
	position: absolute;
	margin-left: -50px !important;
	margin-top: -177px !important;
	z-index: 1000;
	background-color: #fff;
}
.tabs.style-2 .tab-nav > li#cerrar a:hover {
	color: #ec005b;
	background-color: unset;
}
.tabs.style-2 .tab-nav > li#cerrar a {
	width: 20px !important;
	height: 20px !important;
	padding-top: 2px;
	color: #161dc8;
	font-size: 13px !important;
}
.tab-panes .tab-content {
    padding: 0 !important;
	color: #fff;
}
.tabs .tab-nav > li a {
    padding: 10px;
}
.tab-panes .tab-content{
	-webkit-transition-property: transform, opacity, visibility;
			transition-property: transform, opacity, visibility;
	-webkit-transition-duration: 500ms;
			transition-duration: 500ms;
	-webkit-transform: translateY(0);
			transform: translateY(0);
}
.tab-panes .tab-content .contenido {
	margin-left: 24px;
	padding-right: 28px;
	max-width: calc(100% - 24px);
	color: #fff !important;
}
.tab-panes .tab-content .contenido h4 {
	font-size: 28px;
	font-weight: 700;
	color: #fff !important;
	margin-bottom: 15px !important;
	padding-right: 35px;
}
.tab-panes .tab-content .contenido p,
.tab-panes .tab-content .contenido p.bajada {
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 400;
}
.tab-panes .tab-content .contenido .contenido-scroll {
}
li#tab-actividad a,
li#tab-espacioPreguntas a,
li#tab-encuesta a,
li#tab-salas-bloque1 a,
li#tab-salas-bloque2 a,
li#tab-salas-bloque3 a {
    background-color: #ec005b;
    color: #fff;
}
li#tab-actividad a:hover,
li#tab-espacioPreguntas a:hover,
li#tab-encuesta a:hover,
li#tab-salas-bloque1 a:hover,
li#tab-salas-bloque2 a:hover,
li#tab-salas-bloque3 a:hover {
    background-color: #fff;
    color: #ec005b;
}
li#tab-actividad.active a,
li#tab-espacioPreguntas.active a,
li#tab-encuesta.active a,
li#tab-salas-bloque1.active a,
li#tab-salas-bloque2.active a,
li#tab-salas-bloque3.active a {
    background-color: #fff;
    color: #161dc8;
}
li#tab-actividad.active a.blink,
li#tab-espacioPreguntas.active a.blink,
li#tab-encuesta.active a.blink,
li#tab-salas-bloque1.active a.blink,
li#tab-salas-bloque2.active a.blink,
li#tab-salas-bloque3.active a.blink {
	-webkit-animation: unset;
	        animation: unset;
}
.blink {
	-webkit-animation: blink 2s infinite both;
	        animation: blink 2s infinite both;
}
@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    background-color: rgba(236,0,91,1);
  }
  25%,
  75% {
    background-color: rgba(236,0,91,0);
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    background-color: rgba(236,0,91,1);
  }
  25%,
  75% {
    background-color: rgba(236,0,91,0);
  }
}

#agenda .horas {
	font-size: 14px;
	line-height: 22px;
}
#agenda .horas.activo {
	font-size: 20px;
	line-height: 35px;
	font-weight: 700;
}
#agenda .horas.break {
	color: #e08772;
}
#agenda .horas .width-1 {
	padding: 0 0 0 10px;
    text-align: center;
}
#agenda .horas .width-1 i {
	text-align: left;
	opacity: 0;
	transform: rotate(180deg);
	font-size: 10px;
    padding-top: 3px;
}
#agenda .horas.activo .width-1 i {
	opacity: 1;
}
#agenda .horas .width-2 {
	padding: 0;
    text-align: center;
}
#agenda .horas .width-9 {
    padding: 0 0 0 10px;
}
#agenda .tab-content {
	padding-left: 0 !important;
}
#agenda .icon-play {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

#preguntar .contenido img {
	min-width: 36px;
	border-radius: 30px;
	padding: 2px;
	border: 1px solid #fff;
	margin-bottom: 12px;
}
#preguntar .contenido a:hover img,
#preguntar .contenido a:hover .column {
	border-color: #ec005b;
}
#preguntar .contenido a:hover h5,
#preguntar .contenido a:hover p {
	color: #ec005b;
}
#preguntar .contenido h5 {
	font-size: 16px;
    font-weight: 700;
    margin-bottom: 1px !important;
    color: #fff;
    margin-top: -2px;
}
#preguntar .contenido p.cargo {
	font-size: 11px;
	font-weight: 400;
	margin-bottom: 12px;
}
#preguntar .contenido .width-2 {
	max-width: 46px;
}
#preguntar .contenido .width-10 {
	padding: 0 0 0 30px;
}

#info p {
	font-size: 16px;
	font-weight: 400;
}
#info ul li span {
	display: block;
	margin-top: 10px;
	font-weight: 700;
}

#espacioPreguntas .contenido {
	padding: 0 15px !important;
	max-width: calc(100% - 45px);
}
#espacioPreguntas .contenido h5 {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	color: #fff !important;
	margin-bottom: 15px !important;
	margin-top: 7px;
}
#espacioPreguntas .preguntas {
    margin-top: 50px;
	text-align: center;
}

#actividad .contenido img {
	max-width: 95px;
    padding: 10px;
    background-color: #fff;
    border-radius: 7px;
}
#salas-bloque1 .contenido h4,
#salas-bloque2 .contenido h4,
#salas-bloque3 .contenido h4 {
	margin-bottom: 0 !important;
}
#salas-bloque1 .contenido p.bloque,
#salas-bloque2 .contenido p.bloque,
#salas-bloque3 .contenido p.bloque {
	font-size: 20px !important;
	font-weight: 700;
    line-height: 1.4;
	margin-bottom: 15px !important;
}
#salas-bloque1 .contenido p.bajada,
#salas-bloque2 .contenido p.bajada,
#salas-bloque3 .contenido p.bajada {
	margin-bottom: 15px !important;
}
#salas-bloque1 .contenido .salas,
#salas-bloque1 .contenido .salas,
#salas-bloque1 .contenido .salas {
	margin-bottom: 10px;
}
#salas-bloque1 .contenido .charla,
#salas-bloque1 .contenido .charla,
#salas-bloque1 .contenido .charla {
	padding-top: 2px;
	font-size: 14px;
	font-weight: 700;
}
#salas-bloque1 .contenido .speaker,
#salas-bloque1 .contenido .speaker,
#salas-bloque1 .contenido .speaker {
    margin-bottom: 10px;
	font-size: 12px;
	font-weight: 400;
}
#salas-bloque1 .contenido .button,
#salas-bloque1 .contenido .button,
#salas-bloque1 .contenido .button {
	font-size: 11px;
    padding: 4px 12px;
}
#salas-bloque1 .contenido .button span
#salas-bloque1 .contenido .button span,
#salas-bloque1 .contenido .button span {
    font-size: 18px !important;
    font-weight: 700;
    line-height: 1;
    display: block;
}
 
.tml-modal-mode #tml-exit,
#tml-exit {
    top: 25px;
    right: 25px;
    background-color: #fff;
    opacity: 1;
    height: 27px;
    width: 27px;
    border-radius: 100%;
}
.tml-modal-mode #tml-exit:before,
#tml-exit:before {
	position: absolute;
    right: 2px;
    top: 2px;
    font-size: 23px !important;
}
#tml-content, #tml-content-wrapper, #tml-lightbox {
	top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
#tml-caption {
	display: none;
}
#tml-content.scrollable-content:not(.modal-dialog) {
    min-width: 100%;
}
.tm-lightbox, .tm-slider-container.pagination-below .tms-bullet-nav {
    background: #f6f6f6;
}
#tml-tool-bar,
#tml-zoom {
	display: none;
}

.accordion,
.accordion>ul>li {
	margin: 0;
}
.accordion.style-2 > ul > li.active > div {
	border: none;
}
.accordion > ul > li a {
	display: block;
}
.accordion > ul > li.active a {
	display: none;
}
.accordion.style-2 .accordion-content {
	padding: 0;
	height: calc(100vh - 35px);
}
#sala {
	position: absolute;
	padding-left: 5px;
    padding-right: 0;
    margin-top: 95px;
    width: calc(66.66667% - 24px);
	z-index: 110;
}
#salas-linea2 {
	z-index: 120;
	margin-top: 95px;
}
#sala1 {
	height: 100%;
	width: 100%;
	background-color: #000;
}
#sala1 .row,
#sala1 .row .width-4,
#sala1 .row .width-8 {
	height: 100%;
}

#sala1 .row .width-4 {
	position: relative;
}
#sala1 .row .sala-info {
	position: absolute;
	bottom: 170px;
	left: 0;
}
#sala1 .row .sala-info h4 {
	font-size: 22px;
	font-weight: 700;
	color: #0074ff;
	margin-bottom: 5px;
}

@media only screen and (max-width: 1140px) {
	#preguntar .contenido h5 {
	    font-size: 15px;
	}
}
@media only screen and (max-width: 1095px) {
	#preguntar .contenido .width-10 {
	    padding: 0 0 0 15px;
	}
}
@media only screen and (max-width: 1008px) {
	#preguntar .contenido h5 {
	    font-size: 16px;
	}
	#preguntar .contenido .width-10 {
	    padding: 0 0 0 30px;
	}
	#preguntar .width-6 {
	    width: 100%;
	}
}
@media only screen and (max-width: 960px) {
.header .header-inner-top {
    display: none;
}
@media only screen and (max-width: 920px) {
.tab-panes .tab-content .contenido h4 {
    font-size: 25px;
	}
}
@media only screen and (max-width: 768px) {
	#player-column {
		position: unset;
	}
	#content-column {
    	padding-right: 35px;
	}
	#oneteam {
	    right: 40px;
	}
	#em-bg1,
	#em-bg2,
	#em-bg3 {
		display: none;
	}
	.tabs.style-2 {
	    margin-top: 30px;
	}
	.tabs.vertical .tab-nav {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-left: none;
	    position: unset;
	}
	.tabs.style-2 .tab-nav > li a {
	    border-bottom: none;
	}
	.tabs.style-2.vertical .tab-nav > li.active a,
	.tabs.style-2.vertical .tab-nav > li.active a:hover {
	    color: #161dc8;
	    background-color: #fff;
	    border-bottom: 1px solid white;
	}
	.tabs.style-2 .tab-nav > li a:hover span,
	.tabs.style-2 .tab-nav > li a span,
	.tabs.style-2 .tab-nav > li.active a:hover span,
	.tabs.style-2 .tab-nav > li.active a span {
	    display: inline-block;
	}
	.tabs.style-2 .tab-nav > li a span,
	.tabs.style-2 .tab-nav > li a i {
	    display: block;
	    position: unset !important;
		background-color: transparent;
		text-shadow: none !important;
	    box-shadow: none !important;
	    text-align: center;
	}
	.tabs.style-2 .tab-nav > li a span {
	    display: inline-block;
	}
	.tabs.style-2 .tab-nav > li a i {
	    display: block;
	}
	.tabs.style-2 .tab-nav > li a i {
		margin-bottom: 4px !important;
		margin-top: 4px;
		font-size: 26px;
	}
	.tabs.style-2.vertical .tab-nav > li#cerrar {
		width: 20px !important;
		right: 40px;
		margin-top: 36px !important;
	}
	.tabs.style-2.vertical .tab-nav > li#cerrar a i{
		font-size: 20px;
		font-size: 15px;
    	margin-top: 1px;
	}
	.tabs.vertical .tab-nav {
	    padding-top: 0 !important;
	}
	.tabs.style-2.vertical .tab-panes {
	    margin-top: 30px !important;
	}
	.tab-panes .tab-content .contenido {
	    margin-left: 0;
	    padding-right: 0;
	}
	.tabs.vertical .tab-nav {
	    width: 100% !important;
	    float: unset !important;
	}
	.tabs.vertical .tab-nav>li {
	    margin: 0 0 1px;
	    display: block;
	    float: none;
	}
	.tabs.vertical .tab-nav>li {
	    display: inline-grid;
	    width: 25%;
	}
	#agenda .width-1 {
	    width: 8.33333%;
	}
	#agenda .width-2 {
	    width: 16.66667%;
	}
	#agenda .width-9 {
	    width: 75%;
	}
	#agenda .horas .width-1 i {
	    transform: rotate(270deg);
	}
	#preguntar .width-6 {
	    width: 33.33333%;
	}
	.tab-panes .tab-content .contenido {
	    width: 100%;
	    max-width: 100%;
	}
	#preguntar .contenido .width-2 {
	    width: 20%;
	}
	#preguntar .contenido .width-10 {
	    width: 80%;
	}
	#preguntar .contenido h5 {
	    font-size: 16px;
	}
	#preguntar .contenido .width-10 {
	    padding: 0 0 0 30px;
	}
}
@media only screen and (max-width: 700px) {
	#preguntar .width-6 {
	    width: 50%;
	}
}
@media only screen and (max-width: 570px) {
	.tabs .tab-nav > li a {
	    padding: 2px 0;
	}
	.tabs.vertical .tab-nav>li a {
	    max-height: 70px;
	    height: 70px;
	}
	.tabs.style-2 .tab-nav > li a i {
	    margin-top: 7px;
	}
	.tabs.style-2 .tab-nav > li a span {
	    line-height: 1.2;
	}
}
@media only screen and (max-width: 570px) {
	.tabs.vertical .tab-nav>li a {
	    max-height: 85px;
	    height: 85px;
	}
}
@media only screen and (max-width: 504px) {
	#preguntar .contenido h5 {
	    font-size: 16px;
	}
	#preguntar .contenido .width-10 {
	    padding: 0 0 0 30px;
	}
	#preguntar .width-6 {
	    width: 100%;
	}
}
@media only screen and (max-width: 490px) {
	#oneteam {
	    height: 15px;
	    width: 141px;
	}
	.player-alternativo {
	    font-size: 11px;
	}
	.tabs.vertical .tab-nav>li a {
	    max-height: 80px;
	    height: 80px;
	}
	.tabs.style-2 .tab-nav > li a span {
	    font-size: 14px;
	}
	.tabs.style-2 .tab-nav > li a i {
		margin-bottom: 6px !important;
	    font-size: 24px;
	}
}
@media only screen and (max-width: 450px) {
	#oneteam {
	    display: none;
	}
}
@media only screen and (max-width: 380px) {
	.tabs.style-2 .tab-nav > li a span {
	    font-size: 13px;
	}
	.tabs.vertical .tab-nav>li a {
	    max-height: 77px;
	    height: 77px;
	}
}






