/* FOOTER */
.footer {
	position: fixed;
	top: calc(100% - 60px);
	width: 100vw;
	height: 60px;
	margin: 0 0 5px -4px;
	padding: 0 !important;
	text-align: center;
	border-top: 1px solid #eee;
	background-color: #fff;
}
.footer-full {
	display: inherit;
    left: 4px;
    background-image: url(../img/footer/footer20202.jpg);
}
.footer-full .footer1 {
	margin: 0;
    padding: 0;
    max-width: 276px;
    min-width: 276px;
    text-align: left;
}
.footer-full .footer3 {
	float: right;
    margin: 0;
    padding: 0;
    max-width: 85px;
    min-width: 85px;
}
.footer-resp {
	display: none;
	left: 4px;
}
.footer-resp img {
	max-width: 375px;
	width: 100%;
}
.footer .column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


@media only screen and (max-width: 390px) {
	.footer-full {
		display: none;
	}
	.footer-resp {
		display: inherit;
	}
}


.logo_background {
    background-image: url('../img/logo@1x.png');

    background-size: 80px 40px; /* size of the logo image @ 1x */
}
@media /* only for retina displays */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .logo_background {
        background-image: url('../img/logo@2x.png');
    }
}